{:deps    {
           gnl/ghostwheel {:mvn/version "0.3.9"}
           }
 :paths   ["src/main"]
 :aliases {:dev {:jvm-opts    ["-Dghostwheel.enabled=true"]
                 :extra-paths ["src/test"]}}}
